DirectoryIndex index.php
AddDefaultCharset utf-8

<ifModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ /index.php?REQUEST_URI=$1 [L,QSA]
</ifModule>